.element-card {
    cursor: default;
    text-align: center;
    user-select: none;
    .card-id {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 2;
    }

    .card-name {
        position: absolute;
        top: 60px;
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
        font-weight: bold;
        white-space: normal;
        word-break: break-word;
        overflow: hidden;
        line-height: 1.1;
        max-height: 3.3em;
        z-index: 2;
        text-align: center;
    }

    .card-avatar-name{
        top: auto;
        bottom: 0;
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
        white-space: normal;
        word-break: break-word;
        overflow: hidden;
        line-height: 1.1 !important;
        max-height: 3.3em;
    }

    .card-detail {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        z-index: 2;
    }
}

.lucky-element-card {
    cursor: default;
    &::before {
        background-color: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
        border: 1px solid linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    }

    .card-id {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    .card-name {
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
        font-weight: bold;
        white-space: normal;
        word-break: break-word;
        overflow: hidden;
        line-height: 1.1;
        max-height: 3.3em;
        transform: translateY(-50%);
        // -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        // animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        // animation-delay: 0.6s;
    }
    .card-avatar-name{
        top: auto;
        bottom: 0;
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
        white-space: normal;
        word-break: break-word;
        overflow: hidden;
        line-height: 1.1 !important;
        max-height: 3.3em;
    }

    .card-detail {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 2;
        bottom: 15px;
    }
}